@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #151427;
  --foreground: #cbc7c7;
  --background2: #272645ec;
  --background2-alt: #232246ec;
  --background2-shade: #6c69b2ec;
  --selected: #b68a08;
  --border: #0000;
}
* {
  border-color: var(--border);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: xx-large;
}
h3 {
  font-size: large;
}
